.appContainer {
    display: grid;
    grid-template-areas: "h h" "n m";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 5fr;
    margin: 0 30px;
    min-height: 100%;
    .appContainer__content {
        grid-area: m;
        background-color: rgb(240, 201, 175);
        flex: 0 1 auto;
    }
}
