.header {
    grid-area: h;
    background-color: rgb(170, 79, 0);
    img {
        width: 60px;
    }
}

.loginBlock {
    float: right;
    a,
    .logElement {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}
